# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# TypeScript
dist/
*.js

# Editor/IDE specific
.vscode/
.idea/

# Environment-specific files
.env

# macOS
.DS_Store

# Windows
Thumbs.db
